* {
  margin: 0;
  transition: 350ms;
}


  .bg-back{
  width: 50vw;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
  overflow: hidden;

}



.bg {
    background: url('img/source.gif') no-repeat center center;
    background-size: cover;
    top: 0;
    left: 0;
    width: 50vw;
    bottom: 0;
    position: absolute;
    mix-blend-mode: multiply;
    filter: grayscale(100%);
    z-index: 1;
  }

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    font-family: 'Roboto Mono', monospace;

    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    margin-top: -10px;
    padding: 0;

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-slider
{
    margin-bottom: 0px;
}

.slick-dots
{
    position: absolute;
    overflow: hidden;
right: 51%;
bottom: 10px;
z-index: 10;
display: block;


    list-style: none;

    text-align: right;
}
.slick-dots li
{
    position: relative;
    width: auto;

    margin: 0 5px;
    cursor: pointer;
}
.slick-dots li button
{

    line-height: 1rem;

    width: auto;
    height: 30px;

    padding: 0;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;

}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}

.slick-dots {overflow: visible;}

ul:before {
    content: 'Inside this issue';
    position: absolute;
    color: black;
    top: -50px;
    right: 5px;
    background: white;
    padding: 0 3px;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: 1px;
  }

h3 {

  padding: 1rem 2rem;
}


button#slick-slide-control00:after {
  content: 'About me';
  color: white;
  font-family: Helvetica, sans-serif;
  text-align: right;
}

button#slick-slide-control01:after {
  content: 'Work';
  color: white;
  font-family: Helvetica, sans-serif;
  text-align: right;
}

button#slick-slide-control02:after {
  content: 'Projects';
  color: white;
  font-family: Helvetica, sans-serif;
  text-align: right;
}


li {

}


li:after {
  position: absolute;
top: 100%;
left: 0;
width: 100%;
height: 1px;
background: yellow;
content: '';
opacity: 0;
-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
transition: height 0.3s, opacity 0.3s, transform 0.3s;
-webkit-transform: translateY(-10px);
-moz-transform: translateY(-10px);
transform: translateY(-10px);
}

li.slick-active:after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  transform: translateY(0px);
}






h3 {
  font-size: 6rem;
  font-family: 'Roboto Mono', monospace;
  font-weight: 300;
  text-transform: uppercase;
}


#intro {
  font-family: 'Roboto Mono', monospace;
  color: white;
  width: 25vw;
  position: absolute;
  padding: 5px;
  bottom: 10px;
  line-height: 1.5;
  overflow-wrap: break-word;
  word-wrap: break-word;
  overflow: hidden;
  color: rgba(255,255,255,.3);
  z-index: 2;
}

#intro a {
  color: white;
  text-decoration: underline;
}

h1 {
    text-transform: uppercase;
}
#intro h1, h2 {
  font-size: .7rem !important;
}

#intro h2 {
  font-family: Helvetica, sans-serif;
}

span:not(.contact) {
  display: block;
    font-size: 5rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.bg-back h1 {color: yellow;font-size: 10em;font-family: 'Roboto Mono', monospace; padding-left: 5px;}

.single-item {width: 100vw; height: 100vh; background: #414141; font-size: 1.25rem; position: relative;}


.slick-slide {
  height: 100vh;
}

.slick-slide p {

 margin-left: 50vw;
 height: 100vh;
 padding: 2rem;
 background: lightgrey;
}


.slick-slide:first-of-type {
  background: #222;
}

.slick-slide:nth-child(2) {
  background: #333;
}

.slick-slide:nth-child(3) {
  background: #444;
}

.slick-slide:last-of-type {
  background: #555;
}

button {background: transparent;}

a.work {
  display: block;
  margin: .5rem 0;
}

/* Let's get this party started
::-webkit-scrollbar {
    width: 4px;
}


::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

}


::-webkit-scrollbar-thumb {

    background: rgba(0,0,0,.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0);
}

::-webkit-scrollbar-track:window-inactive {
	background:transparent !important;
}
*/
@media (max-width: 800px) {
  .slick-slide p {
   margin-left: 0vw;
   width: auto;
   height: auto;
   font-size: .7rem;
   margin: 0rem;
  color:black;
background: transparent !important;

  position: relative;

  }




  .bg-back h1 {
    font-size: 3rem;
  }

  span:not(.contact) {
    font-size: 1rem;
  }

.single-item {
  width: 100vw;
background: rgba(255,255,0,.9) !important;

}


  .slick-slide {
height: 50vh !important;
background: transparent !important;
  }



  #intro {
    display: none;
  }
  .bg-back, .bg{
  width: 100%;}



  .single-item {z-index: 6 !important; height: 50vh !important; margin-top: 50vh;}

  .slick-dots {
    right: 1%;
    top: -80%;
  }

}
